<div class="container">
  <form class="jumbotron">
    <h3 class="display-4">Spam a message</h3>
    <div class="form-group">
      <label class="mx-1" for="text">Cose Inutili</label>
      <input name="text" #newText>
    </div>
    <div class="form-group">
      <label class="mx-1" for="num">Spam</label>
      <input name="num" #newNum>
    </div>
    <button (click)="addArticle(newText, newNum)" class="btn btn-primary">
    Submit spam
    </button>
  </form>
  <div class="card">
    <ul class="list-group">
      <li class="list-group-item bg-primary text-white my-1" *ngFor="let article of articles">
        <app-spam-printer [article]="article"></app-spam-printer>
      </li>
    </ul>
  </div>
</div>
